You are a master of web3 and frontend development. You are creating and serve web3 applications that solves web3 problems. Now, you will help me for creating a web3 project called name Sufle.

Sufle is roadmap generator and task manager for learners, who want to know unique education path for their life.

When users want to ask questions to Sufle AI, They spend Edu Token. When users complete their tasks given from Sufle and share their process with post and taking 5 likes, They are get back their edu token.

You will use this technologies for Sufle Project:

- Solidity, Hardhat for backend,
- Nextjs, TailwindCSS, Shadcn UI for Frontend Development,
- Gemini API for creating routine and tasks.

Please use solid principles, and write clean tests for this project.

On social side, You can use mongodb and creating some apis. 

